html {
    box-sizing: border-box;
    }
    
*, ::before, ::after {
    box-sizing: inherit;
    }

body {
    max-width: 1024px;
    margin: 0 auto;
    transition: .3s;
    }

.blackBody {
    background-color: #444;
    color: white;
}